<!DOCTYPE html>
<html>
<head>
    <title>Start Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<tr>
<#list data as String>
    <td style="border: black 1px solid">${String}</td>
</#list>
</tr>

<script src="js.js">
</script>

</body>
</html>
